TwitUp/src/resources/TwitFile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.example.org/twit/"
	targetNamespace="http://www.example.org/twit/">
	
    <complexType name="TwitXml">
    	<sequence>
            <element name="ID" type="string"/>
            <element name="EmissionDate" type="long"/>
            <element name="Twiter" type="string"/>
            <element name="Text" type="string"/>
    	</sequence>
    </complexType>

    <element name="Twit" type="tns:TwitXml"/>
    
</schema>